/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


*{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Roboto';
  letter-spacing: .8px;
}
#root{
  height: 844px;
  width: 390px;
  /* border: 2px solid red; */
}
body{
  /* background-color: aqua; */
  background-color: wheat;
  max-height: 844px;
  overflow: hidden;
}

::-webkit-scrollbar{
  display: none;
}

.App {
  background-color: white;
  /* border: 2px solid red; */
  height: 844px;
  width: 390px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: black;
}

.App > * {
  height: 100%;
  width: 390px;
  color: white;
  overflow-x: hidden;
}

/* GENERAL ------------------------------------------------------------ */
a{
  text-decoration: none;
}
.full{
  width: 100% !important;
  margin: 0 !important;
}
.blue{
  color: rgb(59, 193, 255);
}
.underline{
  border-bottom: 4px solid skyblue;
  /* border-radius: -50px;  trying to round edges ...*/
  padding-bottom: 4px;
  color: white !important;
}
.small{
  font-size: .8em;
}
.hover{
  cursor: pointer;
}
.circle{
  border: 2px solid skyblue;
  border-radius: 50%;
  background-color: skyblue;
  height: 40px;
  width: 40px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 7%;
  right: 3%;
}

.bold{
  font-weight: bold;
}

.grey{
  color: grey;
}
.black {
  color: black;
}

.invisible {
  visibility: hidden;
}

hr{
  background-color: lightslategray;
  /* border: none; */
}

/* ACTIVE USER -------------------------------------------------------- */
.active-user-avatar{
  background-image: url('https://m.media-amazon.com/images/M/MV5BMjI4NjMzNzkzNl5BMl5BanBnXkFtZTcwMDM2MDIyNw@@._V1_.jpg');
  background-size: 100% 100%;
}

/* LOADING ------------------------------------------------------------ */
.loadingPage{
  background-color: black;
  height: 100%;
  display: flex;
  justify-content: center;
}

.loadingPage img{
  /* border: 1px solid white; */
  margin: auto;
  /* zoom: 15% */
  width: 100%;
}

/* HEADER --------------------------------------------------------------*/
header{
  border: 1px solid white;
  /* height: 100px; */
  max-width: 390px;
  min-height: 46px !important;
  /* display: flex !important;
  justify-content: space-between !important; */
}

header .top{
  display: flex;
}

header .top > *{
  /* width: 50%; */
  border: 1px solid lime;
}

header .avatar{
  border: 1px solid white;
  background-image: url('https://m.media-amazon.com/images/M/MV5BMjI4NjMzNzkzNl5BMl5BanBnXkFtZTcwMDM2MDIyNw@@._V1_.jpg');
  background-size: 100% 100%;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  /* position: absolute; */
  margin: 5px 0 0 5px;
}
header .filler {
  width: 35px;
}

header .logo{
  border: 1px solid lime;
  height: 40px;
  margin: 3px auto;
}

/* FOOTER ------------------------------------------------------------- */
footer{
  border: 1px solid orange;
  display: flex;
  /* z-index: ; */
  /* position: absolute; */
  top: 800px;
  min-width: 390px;
  /* margin-top: -82px; */
  /* background-color: rgba(0, 0, 0, 0.938) !important; */
  background-color: white;
  overflow: hidden;
  max-height: 45px;
}

footer p{
  border: 1px solid black;
  font-size: 30px;
  margin: 0 17.5px;
  height: 100%;
}

footer .mail{
  /* margin-top: -2px; */
  /* padding-bottom: 2px; */
}


footer p:hover{
  cursor: pointer;
}

/* MENU --------------------------------------------------------------- */
.menuContainer{
  border: 1px solid yellow;
  min-width: 290px;
  /* flex-grow: 5; */
}

.menuContainer > *{
  margin: 0 10px;
}

.menuContainer .top{
  border: 1px solid red;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.menuContainer .avatar {
  border: 1px solid white;
  background-image: url('https://m.media-amazon.com/images/M/MV5BMjI4NjMzNzkzNl5BMl5BanBnXkFtZTcwMDM2MDIyNw@@._V1_.jpg') !important;
  background-size: 100% 100%;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.switchAccounts{
  font-size: 25px;
}

.menuContainer .name{
  margin-bottom: -5px;
}
.menuContainer .atName{
  font-size: .9em;
}

.menuContainer .bottom {
  border: 1px solid orange;
  width: 60%;
  display: flex;
  justify-content: space-between;
  font-size: .8em;
  margin-top: 10px;
}

.menuContainer nav {
  border: 1px solid yellow;
  margin: 20px 0;
}

.menuContainer nav p {
  border: 1px solid lime;
  margin: 10px 0;
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.menuContainer nav p:hover {
  background-color: rgb(51, 51, 51);
}
.menuContainer .icon {
  border: 1px solid red;
  font-size: 20px;
  margin-right: 15px;
}
.menuContainer .extra{
  border: 1px solid purple;
  margin-top: 20px;
}
.menuContainer .extra p {
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  font-size: .9em;
}

.menuContainer .tabs{
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
  font-size: .8em;
}
.menuContainer .tabs:hover {
  background-color: rgb(51, 51, 51);
  cursor: pointer;
}

.menuContainer .tabs .icon{
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.menuContainer .mode{
  /* border: 1px solid red; */
  /* position: absolute; */
  margin-top: 290px;
  font-size: 20px;
  filter: invert(.5); /* made icons grey */
}

/* HOME --------------------------------------------------------------- */
.homePage{
  display: flex;
  width: 390px;
  /* overflow-x: hidden; */
}
.homePage header > * {
  margin: 0 10px;
}

main{
  border: 1px solid red;
  max-width: 390px;
  height: 749px;
  /* padding-bottom: 50px; */
  /* flex-shrink: 3; */
  overflow-y: scroll;
}
.main *{
  /* flex-shrink: 3; */
}

.homePage .tabs{
  display: flex;
  justify-content: space-around;
}

.homePage .tabs p{
  color: gray;
  font-weight: bold;
  font-size: .9em;
  cursor: pointer;
}


/* FEED --------------------------------------------------------------- */
.feedContainer{
  border: 1px solid blue;
}

.feedItem{
  border: 1px solid lime;
  /* height: 300px; */
  width: 390px;
  /* text-align: center; */
  display: flex;
  margin: 10px 0;
}
.feedItem > *{
  margin: 10px;
  border: 1px solid hotpink;
  height: fit-content;
}

.feedItem .avatar{
  border: 1px solid white;
  background-image: url('https://pfps.gg/assets/banners/7644-cloud-banner.gif');
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.feedItem .right{
  /* display: flex; */
  /* padding-left: 20px; */
  margin-left: 0;
}
.feedItem .right .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedItem .right .top div{
  display: flex;
}
.feedItem .right .top div > * {
  margin-right: 3px;
}
.feedItem .body{
  border: 1px solid pink;
}
.feedItem .reactions{
  border: 1px solid yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedItem .reactions p{
  cursor: pointer;
}
/* POST --------------------------------------------------------------- */

/* PROFILE --------------------------------------------------------------------------- */
.profilePage{
  border: 1px solid red;
  height: 795px !important;
  overflow-y: scroll;
}

.profilePage header {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-image: url('https://pfps.gg/assets/banners/7644-cloud-banner.gif');
  background-size: 100% 100%;
  /* background-image: url('https://wallpapers.com/images/hd/meet-the-robinsons-animated-building-cfeeb6j98ykrqs8u.jpg'); */
  /* background-size: 100% 120%; */
}
.profilePage header div {
  margin: 10px 10px;
}
.profilePage header .right {
  border: 1px solid purple;
  display: flex;
}

.profileInfo {
  border: 1px solid white;
  /* height: 200px; */
}

.profileInfo > * {
  margin: 0 10px;
}

.profileInfo .top {
  border: 1px solid pink;
  /* height: 150px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
}

.profileInfo .top .avatar {
  border: 3px solid white;
  background-image: url('https://m.media-amazon.com/images/M/MV5BMjI4NjMzNzkzNl5BMl5BanBnXkFtZTcwMDM2MDIyNw@@._V1_.jpg');
  background-size: 100% 100%;
  background-size: 100% 100%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  /* z-index: 2; */
  /* margin-top: -10px; */
}
.profileInfo .top .edit{
  background-color: transparent;
  border: 1px solid gray;
  height: 30px;
  width: 100px;
  border-radius: 20px;
}
.profileInfo .top .edit:hover{
  background-color: rgb(51, 51, 51);
}
.profileInfo .name{
  font-size: 1.2em;
  margin-bottom: -3px;
}

.profileInfo .bio{
  border: 1px solid skyblue;
  margin: 10px 10px;
  font-size: .9em;
}

.profileInfo .bottom .location{
  border: 1px solid orange;
  font-size: .8em;
}

.profileInfo .joined{
  /* font-size: .8em; */
  margin-left: 10px;
}

.profileInfo .bottom .follow{
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: .8em;
  margin-top: 10px;
}

.profileInfo .tabs {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: thin solid grey;
}

.profileInfo .tabs p{
  /* border: 1px solid lime; */
  padding: 0 2px 7px 2px;
  color: grey;
  font-weight: bold;
  font-size: .8em;
  cursor: pointer;
}

.profilePage .feedContainer{
  /* margin-top: 36px !important; */
}

.profilePage footer{
  /* margin-top: -900px !important; */
}

/* SEARCH ------------------------------------------------------------------------ */
.searchPage{
  display: flex;
}
.searchPage header{
  border: 1px solid red;
}
.searchPage header > *{
  margin: 0 10px;
}

.searchPage header .top{
  border: 1px solid orange;
  justify-content: space-between;
  /* width: 70%; */
  /* margin-left: 50%; */
  align-items: center;
}
.searchPage header .top{
  font-size: 25px;
}

.searchPage header img {
  /* left: 0; */
}

.searchPage input {
  width: 75% !important;
  background-color: rgb(34, 34, 36);
  border: none;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  color: lightblue;
}

.searchPage .tabs{
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}
.searchPage .tabs p{
  color: gray !important;
  font-weight: bold;
  font-size: .8em;
  padding-bottom: 5px;
  cursor: pointer;
}

.searchPage .video {
  border: 1px solid lime;
  height: 220px;
  text-align: center;
}

.video-text{
  /* position: absolute;
  bottom: 65%;
  left: 3%; */
  border: 1px solid red;
  width: fit-content;
  margin-top: 170px;
  margin-left: 10px;
}

.trending{
  border: 1px solid orange;
  margin: 10px;
}

.trending .topic {
  border: 1px solid blue;
  margin: 10px 0;
}

.trending .top{
  /* border: 1px solid green; */
  margin-bottom: -8px;
  display: flex;
  justify-content: space-between;
}

.trending .top .small{
  font-size: .7em;
}

.stories {
  border: 1px solid purple;
}

.stories h4, .stories p {
  margin: 0 10px;
}

.storiesContainer{
  border: 1px solid yellow;
  display: flex;
  overflow-x: scroll;
}

.story {
  border: 1px solid red;
  border-radius: 15px;
  height: 180px;
  width: 130px;
  flex-shrink: 0;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SEARCHING ---------------------------------------------------------- */
.searchingPage > * {
  /* margin: 0 10px; */
}

.searchingPage header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchingPage header > * , .searchingPage main > *{
  margin: 0 10px;
}

.searchingPage input {
  width: 370px !important;
  background-color: rgb(34, 34, 36);
  border: none;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  color: lightblue;
}

.searchingPage .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchingPage .recents {
  border: 1px solid lime;
  display: flex;
  height: 90px;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 10px 0;
}

.searchingPage .recents div {
  border: 1px solid orange;
  width: 70px;
  flex-shrink: 0;
  margin-left: 10px;
  text-align: center;
}

.searchingPage .recents div img {
  border: 1px solid white;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.searchingPage .recents div .username {
  margin-top: -5px;
}

/* SETTINGS ---------------------------------------------------------- */
.settings {
  border: 1px solid red;
  max-height: 844px;
  max-width: 390px;
}

.settings > * {
  margin: 0 10px;
}

.settings .top {
  border: 1px solid lime;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings .username{
  margin-top: -5px;
}
.settings .bottom {
  /* border: 1px solid yellow; */
}

.settings input {
  width: 100%!important;
  background-color: rgb(34, 34, 36);
  border: none;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  color: lightblue;
  align-self: center;
  /* border: 1px solid lime; */
  margin-top: 5px;
}

.settings .settingContainer{
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.settingContainer .logo{
  /* border: 1px solid skyblue; */
  width: 20px;
  text-align: center;
}

.settingContainer .middle{
  /* border: 1px solid lime; */
  width: 80%;
  font-size: .9em;
}


/* COMMUNITIES ------------------------------------------------------ */
.communities{
  display: flex;
}

.communities header > * {
  margin: 0 10px;
}

.communities header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.communities header .right{
  display: flex;
}
.communities main {
  margin: 0 10px;
  max-height: 709px !important;
}
.communities .flex{
  border: 1px solid lime;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.community {
  border: 1px solid skyblue;
  display: flex;
  margin-top: 10px;
}

.community img{
  border: 1px solid white;
  border-radius: 10px;
  height: 80px;
  width: 80px;
  margin-right: 10px;
}

/* NOTIFICATIONS */
.notificationsPage{
  display: flex;
}
.notificationsPage header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notificationsPage header > * {
  border: 1px solid lime;
  margin: 5px 14px;
}

.notificationsPage header .gear{
  font-size: 25px;
}

.notificationsPage .tabs{
  border: 1px solid orange;
  display: flex;
  justify-content: space-around;
  /* margin-top: 5px; */
  font-weight: bold;
  font-size: .9em;
}

.notificationsPage .tabs > *{
  color: gray;
  width: 65px;
  text-align: center;
  cursor: pointer;

}

/* MESSAGES DMS ------------------------------------------------------- */
.dmPage{
  display: flex;
}
.dmPage .menuContainer .mode {
  margin-top: 273px;
}
.dmPage > *{
}
.dmPage header{
  margin: 0 10px;
}
.dmPage header .top{
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

.dmPage header .top img {
  border: 1px solid white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  /* position: absolute; */
  margin: 5px 0 0 5px;
}

.dmPage .gear {
  font-size: 25px;
  /* gear */
}

.dmPage .bottom{
  display: flex;
  justify-content: center;
}

.dmPage input {
  width: 95%!important;
  background-color: rgb(34, 34, 36);
  border: none;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  color: lightblue;
  align-self: center;
  /* border: 1px solid lime; */
  margin-top: 5px;
  margin-bottom: 10px;
}

.dmPage main{
  max-height: 705px;
  margin: 0 10px;
}

.dmPage .message{
  border: 1px solid skyblue;
  margin: 15px 10px;
  display: flex;
  align-items: center;
  min-height: 60px;
  max-height: 70px;
}
.dmPage .message:hover{
  background-color: rgba(51, 51, 51, 0.767);
}

.dmPage img {
  border: 1px solid white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.dmPage .name{
  margin-right: 10px !important;
}

.dmPage .stack .top{
  display: flex;
}
.dmPage .stack .top p{
  /* border: 1px solid yellow; */
  margin-right: 5px;
}
.dmPage .dot{
  /* margin: 0 !important; */
}

/* MESSAGE ----------------------------------------------------------- */
.message {

}
.message header > *{
  margin: 0 10px;
}
.message header .top {
  border: 1px solid pink;
  justify-content: space-between !important;
  align-items: center;
  margin-top: 10px;
}
.message header .bottom {
  border: 1px solid blue;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  text-align: center;
  /* margin: auto; */
}

.message header img {
  border: 1px solid white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.message .icon {
  font-size: 25px;
  width: 35px;
}

.message main{
  max-height: 670px;
}
.message .bubble{
  border: 1px solid gray;
  background-color: rgba(128, 128, 128, 0.288);
  width: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
  border-bottom-left-radius: 0px ;
  margin: 10px;
}

.message input{
  width: 95% !important;
  background-color: rgb(34, 34, 36);
  border: none;
  border-radius: 10px;
  height: 32px;
  text-align: center;
  color: lightblue;
  margin: 10px;
}

/* TWEETS ------------------------------------------------------------- */
.tweetPage header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweetPage header > * {
  border: 1px solid lightblue;
  margin: 0 10px;
}

.tweetPage main{
  max-height: 679px;
}
.addPadding{
  padding-bottom: 20px;
}
.tweet {
  border: 1px solid red;
}
.tweet > * {
  margin: 0 10px;
}

.tweet .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tweet .top .left{
  border: 1px solid orange;
  display: flex;
}

.tweet .avatar {
  border: 1px solid white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 5px;
}

.tweet .body {
  border: 1px solid yellow;
  font-size: .85em;
}

.tweet .dates {
  border: 1px solid lime;
  display: flex;
}

.tweet .dates > * {
  margin-right: 5px;
}

.tweet .stats {
  border: 1px solid indigo;
  display: flex;
}
.tweet .stats > * {
  margin-right: 5px;
  font-size: .8em;
}

.tweet .reactions {
  border: 1px solid orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.tweetPage .comment {
  border: 1px solid lime !important;
  display: flex;
  margin: 5px 0
}
.tweetPage .comment .right {
  border: 1px solid blue;
  width: 100%;
}
.tweetPage .comment .top {
  border: 1px solid skyblue;
  display: flex;
  justify-content: space-between;
}

.tweetPage .comment .top > div{
  border: 1px solid pink;
  display: flex;
  align-items: center !important;
  font-size: .8em;
}
.tweetPage .comment .top > div > *{
  margin-right: 5px;
}

.tweetPage .comment .reactions{
  font-size: .9em;
}
.tweetPage .inputContainer{
  /* border: 1px solid yellow; */
  margin: 10px;
}
.tweetPage .inputContainer p {
  /* border: 1px solid red; */
  margin: 5px 0;

}
.tweetPage input {
  width: 100% !important;
  background-color: rgb(34, 34, 36);
  border: none;
  border-radius: 10px;
  height: 30px;
  /* text-align: center; */
  /* padding-left: 10px; */
  color: lightblue;
}
.tweetPage input::placeholder{
  padding-left: 10px;
}

/*  OTHER PROFILE  */
.otherProfilePage{
  border: 1px solid red;
  height: 795px !important;
  overflow-y: scroll;
}

.otherProfilePage header {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-image: url('https://pfps.gg/assets/banners/7644-cloud-banner.gif');
  background-size: 100% 100%;
  /* background-image: url('https://wallpapers.com/images/hd/meet-the-robinsons-animated-building-cfeeb6j98ykrqs8u.jpg'); */
  /* background-size: 100% 120%; */
}
.otherProfilePage header div {
  margin: 10px 10px;
}
.otherProfilePage header .right {
  border: 1px solid purple;
  display: flex;
}

.otherProfileInfo {
  border: 1px solid white;
  /* height: 200px; */
}

.otherProfileInfo > * {
  margin: 0 10px;
}

.otherProfileInfo .top {
  border: 1px solid pink;
  /* height: 150px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
}

.otherProfileInfo .top .avatar {
  border: 3px solid white;
  background-image: url('https://m.media-amazon.com/images/M/MV5BMjI4NjMzNzkzNl5BMl5BanBnXkFtZTcwMDM2MDIyNw@@._V1_.jpg');
  background-size: 100% 100%;
  background-size: 100% 100%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  /* z-index: 2; */
  /* margin-top: -10px; */
}
.otherProfileInfo .top .right{
  border: 1px solid lime;
  display: flex;
  align-items: center;
}
.otherProfileInfo .top .right div{

}
.otherProfileInfo .top .right div{
  border: 1px solid gray;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  margin-right: 3px;
}
.otherProfileInfo .bell{
  margin-bottom: 3px;
}
.otherProfileInfo .message{
  margin-bottom: 5px;
}

.otherProfileInfo .top .followButton{
  background-color: transparent;
  background-color: white;
  border: 1px solid gray;
  height: 30px;
  width: 100px;
  border-radius: 20px;
  color: black;
}
.otherProfileInfo .top .followingButton{
  background-color: transparent;
  background-color: black;
  border: 1px solid gray;
  height: 30px;
  width: 100px;
  border-radius: 20px;
  color: white;
}
.otherProfileInfo .top .edit:hover{
  background-color: rgb(51, 51, 51);
}
.otherProfileInfo .name{
  font-size: 1.2em;
  margin-bottom: -3px;
}

.otherProfileInfo .bio{
  border: 1px solid skyblue;
  margin: 10px 10px;
  font-size: .9em;
}

.otherProfileInfo .bottom .location{
  border: 1px solid orange;
  font-size: .8em;
}

.otherProfileInfo .joined{
  /* font-size: .8em; */
  margin-left: 10px;
}

.otherProfileInfo .bottom .follow{
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: .8em;
  margin-top: 10px;
}

.otherProfileInfo .tabs {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: thin solid grey;
}

.otherProfileInfo .tabs p{
  /* border: 1px solid lime; */
  padding: 0 2px 7px 2px;
  color: grey;
  font-weight: bold;
  font-size: .8em;
  cursor: pointer;
}

.otherProfilePage .feedContainer{
  /* margin-top: 36px !important; */
}

.otherProfilePage footer{
  /* margin-top: -900px !important; */
}