/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


*{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Roboto';
  letter-spacing: .8px;
}
#root{
  height: 844px;
  width: 390px;
  /* border: 2px solid red; */
  margin: auto !important;
}
body{
  /* background-color: aqua; */
  background-color: wheat;
  max-height: 844px;
  overflow: hidden;
}

.invert {
  filter: invert(.9) !important;
  /* background-color: whitesmoke !important;
  color: black !important; */
}

::-webkit-scrollbar{
  display: none;
}

.App {
  background-color: white;
  /* border: 2px solid red; */
  height: 844px;
  width: 390px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: black;
  position: relative;
}

.App > * {
  height: 100%;
  width: 390px;
  color: white;
  overflow-x: hidden;
  /* position: relative; */
}

/* GENERAL ------------------------------------------------------------ */
.avatar{
  background-size: 100% 100% !important; 
  background-image: url('https://pfps.gg/assets/banners/7644-cloud-banner.gif');

}
button:hover{
  cursor: pointer;
}
img:hover{
  cursor: pointer;
}
a{
  text-decoration: none;
}
.full{
  width: 100% !important;
  margin: 0 !important;
}
.blue{
  color: rgb(59, 193, 255);
}

.center{
  /* text-align: center; */
  justify-content: center !important;
  /* align-items: center !important; */
}
.underline{
  border-bottom: 4px solid skyblue;
  /* border-radius: -50px;  trying to round edges ...*/
  padding-bottom: 4px;
  color: white !important;
}
.small{
  font-size: .8em;
}
.hover{
  cursor: pointer;
}
.circle{
  border: 2px solid rgb(0, 119, 216);
  border-radius: 50%;
  background-color: rgb(0, 119, 216);
  height: 40px;
  width: 40px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 20;
  bottom: 80px;
  right: 10px;
  opacity: .9;
}

.circle:hover{
  opacity: 1;
}

.bold{
  font-weight: bold;
}

.grey{
  color: grey;
}
.black {
  color: black;
}

.invisible {
  visibility: hidden;
}

hr{
  background-color: lightslategray;
  /* border: none; */
}

/* ACTIVE USER -------------------------------------------------------- */
.active-user-avatar{
  background-image: url('https://m.media-amazon.com/images/M/MV5BMjI4NjMzNzkzNl5BMl5BanBnXkFtZTcwMDM2MDIyNw@@._V1_.jpg');
  background-size: 100% 100%;
}

/* LOADING ------------------------------------------------------------ */

@keyframes zoom {
  0%{
    /* zoom: 0%; */
    /* opacity: 0; */
    width: 0%;
  }
  1%{
    /* zoom: 1%; */
  }
  50%{
    /* zoom: 50% */
  }
  100%{
    /* zoom: 100%; */
    width: 400px;
    transform: rotate(360deg);
  }
}
.loadingPage{
  background-color: black;
  height: 100%;
  display: flex;
  justify-content: center;
}

.loadingPage img{
  /* border: 1px solid white; */
  margin: auto;
  /* zoom: 15%; */
  /* width: 100%; */
  animation: zoom 2s linear infinite;
}

/* HEADER --------------------------------------------------------------*/
header{
  /* border: 1px solid white; */
  /* height: 100px; */
  max-width: 390px;
  min-height: 46px !important;
  /* display: flex !important;
  justify-content: space-between !important; */
}

header .top{
  display: flex;
}

header .top > *{
  /* width: 50%; */
  /* border: 1px solid lime; */
}

header .avatar{
  border: 1px solid white;
  background-image: url('https://m.media-amazon.com/images/M/MV5BMjI4NjMzNzkzNl5BMl5BanBnXkFtZTcwMDM2MDIyNw@@._V1_.jpg');
  background-size: 100% 100%;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  /* position: absolute; */
  margin: 5px 0 0 5px;
}
header .filler {
  width: 35px;
}

header .logo{
  /* border: 1px solid lime; */
  height: 40px;
  margin: 3px auto;
}

/* FOOTER ------------------------------------------------------------- */
footer{
  /* border: 1px solid orange; */
  display: flex;
  /* z-index: ; */
  /* position: absolute; */
  top: 800px;
  min-width: 390px;
  /* margin-top: -82px; */
  background-color: rgba(95, 93, 93, 0.24) !important;
  /* background-color: white; */
  overflow: hidden;
  height: fit-content !important;
  position: absolute;
  /* top: 0; */
  margin-top: -2px;
  padding-bottom: 5px !important;
}

footer p{
  /* border: 1px solid black; */
  border-radius: 5px;
  font-size: 30px;
  margin: 0 7px;
  height: 100%;
  padding: 02px 10.5px;
}

footer .mail{
  margin-top: -3px;
  /* padding-bottom: 8px !important; */
}


footer p:hover{
  cursor: pointer;
  background-color: rgb(51, 51, 51);
}

/* MENU --------------------------------------------------------------- */
.menuContainer{
  /* border: 1px solid yellow; */
  border-right: 2px solid rgba(128, 128, 128, 0.877);
  min-width: 290px;
  /* flex-grow: 5; */
}

.menuContainer > *{
  margin: 0 10px;
}

.menuContainer .top{
  /* border: 1px solid red; */
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.menuContainer .avatar {
  border: 1px solid white;
  background-image: url('https://m.media-amazon.com/images/M/MV5BMjI4NjMzNzkzNl5BMl5BanBnXkFtZTcwMDM2MDIyNw@@._V1_.jpg') !important;
  background-size: 100% 100%;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.switchAccounts{
  font-size: 25px;
}

.menuContainer .name{
  margin-bottom: -1px;
}
.menuContainer .atName{
  font-size: .9em;
}

.menuContainer .bottom {
  /* border: 1px solid orange; */
  width: 60%;
  display: flex;
  justify-content: space-between;
  font-size: .8em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.menuContainer nav {
  /* border: 1px solid yellow; */
  border-bottom: 2px solid rgba(128, 128, 128, 0.212);
  margin: 20px 0;
}

.menuContainer nav p {
  /* border: 1px solid lime; */
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.menuContainer nav p:hover {
  background-color: rgb(51, 51, 51);
}
.menuContainer .icon {
  /* border: 1px solid red; */
  margin-left: 10px;
  font-size: 20px;
  margin-right: 15px;
}
.menuContainer .extra{
  /* border: 1px solid purple; */
  margin-top: 20px;
}
.menuContainer .extra p {
  /* border: 1px solid white; */
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  font-size: .9em;
  padding: 3px 5px;
}
.menuContainer .extra p:hover{
  background-color: rgb(51, 51, 51);

}

.menuContainer .tabs{
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
  font-size: .8em;
}
.menuContainer .tabs:hover {
  background-color: rgb(51, 51, 51);
  cursor: pointer;
}

.menuContainer .tabs .icon{
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.menuContainer{
  position: relative;
}

.menuContainer .mode{
  /* border: 1px solid red; */
  width: fit-content;
  position: absolute;
  /* margin-top: 290px; */
  bottom: 12px;
  font-size: 20px;
  filter: invert(.5); /* made icons grey */
}

/* HOME --------------------------------------------------------------- */
.homePage{
  display: flex;
  width: 390px;
  /* overflow-x: hidden; */
}
.homePage header > * {
  margin: 0 10px;
}

main{
  /* border: 1px solid red; */
  max-width: 390px;
  height: 749px;
  /* padding-bottom: 50px; */
  /* flex-shrink: 3; */
  overflow-y: scroll;
}
.main *{
  /* flex-shrink: 3; */
}

.homePage .top .avatar{
  margin-top: 10px;
}

.homePage main {
  height: 752px;
}

.homePage .tabs{
  display: flex;
  justify-content: space-around;
  /* border: 1px solid yellow; */
  border-bottom: 1px solid rgb(51, 51, 51);
}

.homePage .tabs p{
  color: gray;
  font-weight: bold;
  font-size: .9em;
  cursor: pointer;
}


/* FEED --------------------------------------------------------------- */
.feedContainer{
  /* border: 1px solid blue; */
}

.feedItem{
  /* border: 1px solid lime; */
  /* height: 300px; */
  width: 390px;
  /* text-align: center; */
  display: flex;
  /* margin: 10px 0; */
  padding: 5px 0;
  /* border-radius: 10px; */
  border-bottom: 1px solid rgb(51, 51, 51);
}
.feedItem:hover{
  background-color: rgba(51, 51, 51, 0.418);
  cursor: pointer;
}
.feedItem > *{
  margin: 10px;
  /* border: 1px solid hotpink; */
  height: fit-content;
}

.feedItem .avatar{
  border: 1px solid white;
  /* background-image: url('https://pfps.gg/assets/banners/7644-cloud-banner.gif'); */
  background-size: 100% 100%;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.feedItem .right{
  /* display: flex; */
  /* padding-left: 20px; */
  margin-left: 0;
  /* border: 4px solid yellow; */
  min-width: 315px;
}
.feedItem .right .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}
.feedItem .right .top div{
  display: flex;
}
.feedItem .right .top div > * {
  margin-right: 3px;
}
.feedItem .body{
  /* border: 1px solid pink; */
}
.feedItem .reactions{
  /* border: 1px solid yellow; */
  margin-top: 10px;
  margin-bottom: -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedItem .reactions p{
  cursor: pointer;
}
/* POST --------------------------------------------------------------- */

/* PROFILE --------------------------------------------------------------------------- */
.profilePage{
  /* border: 1px solid red; */
  height: 795px !important;
  overflow-y: scroll;
}

.profilePage header {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  height: 100px;
  /* background-image: url('https://pfps.gg/assets/banners/7644-cloud-banner.gif'); */
  background-size: 100% 100%;
  background-image: url('https://wallpapers.com/images/hd/meet-the-robinsons-animated-building-cfeeb6j98ykrqs8u.jpg');
  /* background-size: 100% 120%; */
}
.profilePage header div {
  margin: 10px 10px;
}
.profilePage header .right {
  /* border: 1px solid purple; */
  display: flex;
}
.profilePage .back, .otherProfileInfo .back {
  filter: invert(1);
}

.profileInfo {
  /* border: 1px solid white; */
  /* height: 200px; */
}


.profileInfo > * {
  margin: 0 10px;
}

.profileInfo .top {
  /* border: 1px solid pink; */
  /* height: 150px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
}

.profileInfo .top .avatar {
  border: 3px solid black;
  background-image: url('https://m.media-amazon.com/images/M/MV5BMjI4NjMzNzkzNl5BMl5BanBnXkFtZTcwMDM2MDIyNw@@._V1_.jpg');
  background-size: 100% 100%;
  background-size: 100% 100%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  /* z-index: 2; */
  /* margin-top: -10px; */
}
.profileInfo .top .edit{
  background-color: transparent;
  border: 1px solid rgb(51, 51, 51);
  height: 30px;
  width: 100px;
  border-radius: 20px;
}
.profileInfo .top .edit:hover{
  background-color: rgb(51, 51, 51);
}
.profileInfo .name{
  font-size: 1.2em;
  margin-bottom: -3px;
}

.profileInfo .bio{
  /* border: 1px solid skyblue; */
  margin: 10px 10px;
  font-size: .8em;
}

.profileInfo .bottom .location{
  /* border: 1px solid orange; */
  font-size: .8em;
  margin-left: -3px;
}

.profileInfo .joined{
  /* font-size: .8em; */
  margin-left: 10px;
}

.profileInfo .bottom .follow{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: .7em;
  margin-top: 10px;
  /* margin-left: 3px; */
}

.profileInfo .tabs {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 1px solid rgb(51, 51, 51);
}

.profileInfo .tabs p{
  /* border: 1px solid lime; */
  padding: 0 2px 7px 2px;
  color: grey;
  font-weight: bold;
  font-size: .8em;
  cursor: pointer;
}

.profilePage .feedContainer{
  /* margin-top: 36px !important; */
}

.profilePage footer{
  /* margin-top: -900px !important; */
}

/* SEARCH ------------------------------------------------------------------------ */
.searchPage{
  display: flex;
}

.searchPage main {
  height: 750px !important;
}

.searchPage header{
  /* border: 1px solid red; */
}
.searchPage header > *{
  margin: 0 10px;
}

.searchPage header .top{
  /* border: 1px solid orange; */
  justify-content: space-between;
  /* width: 70%; */
  /* margin-left: 50%; */
  align-items: center;
  margin-top: 3px;
}
.searchPage header .top{
  font-size: 25px;
}

.searchPage header img {
  /* left: 0; */
}

.searchPage input {
  width: 75% !important;
  background-color: rgb(34, 34, 36);
  border: none;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  color: lightblue;
}

.searchPage .tabs{
  /* border: 1px solid white; */
  border-bottom: 1px solid rgb(51, 51, 51);
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}
.searchPage .tabs p{
  color: gray !important;
  font-weight: bold;
  font-size: .8em;
  padding-bottom: 5px;
  cursor: pointer;
}

.searchPage .video {
  border: 1px solid rgb(51, 51, 51);
  height: 220px;
  text-align: left;
  background-size: 100% 100%;
  padding-bottom: 10px;
}

.video-text{
  background-color: rgba(0, 0, 0, 0.712);
  /* position: absolute;
  bottom: 65%;
  left: 3%; */
  /* border: 1px solid red; */
  width: fit-content;
  margin-top: 190px;
  margin-left: 10px;
}

.trending{
  /* border: 1px solid orange; */
  border-bottom: 1px solid rgb(51, 51, 51);
  margin: 10px;
}

.trending .topic {
  /* border: 1px solid blue; */
  /* margin: 5px 0; */
  padding: 10px;
  border-radius: 10px;
}
.trending .topic:hover{
  background-color: rgba(51, 51, 51, 0.384);
  cursor: pointer;
}
.trending .top{
  /* border: 1px solid green; */
  margin-bottom: -8px;
  display: flex;
  justify-content: space-between;
}

.trending .top .small{
  font-size: .7em;
}

.stories {
  /* border: 1px solid purple; */
  border-bottom: 1px solid rgb(51, 51, 51);
  padding-bottom: 2px;
}

.stories h4, .stories p {
  margin: 0 10px;
}

.storiesContainer{
  /* border: 1px solid yellow; */
  display: flex;
  overflow-x: scroll;
  margin-top: 5px;
}

.story {
  border: 1px solid whitesmoke;
  border-radius: 15px;
  height: 180px;
  width: 130px;
  flex-shrink: 0;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.space {
  height: inherit;
  width: inherit;
  border-radius: 15px;
}

.story .play{
  position: absolute;
  filter: invert(1);
}

/* STORY PAGE ------------------------------------------------------ */
.storyPage{
  /* border: 1px solid red; */
  display: flex;
  position: relative;
}

.storyPage .exit{
  position: absolute;
  top: 20px;
  left: 10px;
}

@keyframes progress {
  0%{
    width: 0%;
  }
  95%{
    width: 95%;
  }
}

.storyPage .progressBar{
  position: absolute;
  border: 2px solid white;
  border-radius: 10px;
  top: 5px;
  width: 95%;
  left: 2%;
  animation: progress 5s forwards;
}

.storyPage div {
  margin: auto;
  /* border: 1px solid lime; */
  /* height: 400px; */
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.storyPage img {
  /* transform: rotate(90deg); */
  /* height: inherit; */
  width: inherit;
  margin-bottom: 10px;
}

/* SEARCHING ---------------------------------------------------------- */
.searchingPage > * {
  /* margin: 0 10px; */
}

.searchingPage header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchingPage header > * , .searchingPage main > *{
  margin: 0 10px;
}

.searchingPage input {
  width: 370px !important;
  background-color: rgb(34, 34, 36);
  border: none;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  color: lightblue;
}

.searchingPage .noRecents{
  /* border: 1px solid blue; */
  margin: 10px 0;
}

.searchingPage .top {
  /* border: 1px solid yellow; */
  border: none !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchingPage .recents {
  /* border: 1px solid lime; */
  border: 1px solid rgb(51, 51, 51);
  padding: 5px 0;
  display: flex;
  height: 90px;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 10px 0;
}

.searchingPage .recents div {
  /* border: 1px solid orange; */
  border: 1px solid rgb(51, 51, 51);
  border-top: none;
  border-bottom: none;
  width: 90px;
  flex-shrink: 0;
  margin-left: 10px;
  text-align: center;
  padding: 2px;
}
.searchingPage .recents div:hover, .searches .result:hover {
  background-color: rgba(51, 51, 51, 0.438);
}

.searchingPage .recents div img {
  border: 1px solid white;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.searchingPage .recents div .username {
  margin-top: -2px;
}

.searches{
  /* border: 1px solid yellow; */
}

.searches .result{
  /* border: 1px solid skyblue; */
  border-bottom: 1px solid rgba(51, 51, 51, 0.418);;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 60px;
  padding: 0 5px;
  border-radius: 5px;
}

.searches .avatar{
  border: 1px solid white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

/* SETTINGS ---------------------------------------------------------- */
.settings {
  /* border: 1px solid red; */
  max-height: 844px;
  max-width: 390px;
}

.settings > * {
  margin: 0 10px;
}

.settings .top {
  /* border: 1px solid lime; */
  margin-top: 10px;
  margin-bottom: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings .username{
  margin-top: -2px;
  font-weight: bold;
}
.settings .bottom {
  /* border: 1px solid yellow; */
}

.settings input {
  width: 100%!important;
  background-color: rgb(34, 34, 36);
  border: none;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  color: lightblue;
  align-self: center;
  /* border: 1px solid lime; */
  margin-top: 5px;
}

.settings .settingContainer{
  /* border: 1px solid blue; */
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px;
}
.settings .settingContainer:hover {
  background-color: rgba(51, 51, 51, 0.767);
}

.settingContainer .logo{
  /* border: 1px solid skyblue; */
  width: 20px;
  text-align: center;
}

.settingContainer .middle{
  /* border: 1px solid lime; */
  width: 80%;
  font-size: .9em;
}


/* COMMUNITIES ------------------------------------------------------ */
.communities{
  display: flex;
}

.communities header > * {
  margin: 0 10px;
}

.communities header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.communities .avatar{
  margin-top: 10px;
}
.communities header .right{
  display: flex;
}
.communities main {
  margin: 0 10px;
  max-height: 711px !important;
}
.communities .flex{
  /* border: 1px solid lime; */
  border-bottom: 1px solid rgb(51, 51, 51);
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.community {
  /* border: 1px solid skyblue; */
  border-radius: 10px;
  display: flex;
  margin-top: 10px;
}

.community:hover{
  background-color: rgb(51, 51, 51);
  cursor: pointer;
}

.community .left {
  /* border: 1px solid red; */
}

.community .space{
  border: 1px solid rgba(117, 117, 117, 0.623);
  border-radius: 10px;
  height: 80px !important;
  width: 80px !important;
  margin-right: 10px;
}

.community .right p.bold {
  margin-top: 5px;
}

/* NOTIFICATIONS ------------------------------------------------------*/
.notificationsPage{
  display: flex;
}
.notificationsPage header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notificationsPage .avatar{
  margin-top: 10px;
}

.notificationsPage header > * {
  /* border: 1px solid lime; */
  margin: 5px 14px;
}

.notificationsPage header .gear{
  font-size: 25px;
}

.notificationsPage .tabs{
  margin-top: 5px;
  /* border: 1px solid orange; */
  border-bottom: 1px solid rgb(51, 51, 51);
  display: flex;
  justify-content: space-around;
  /* margin-top: 5px; */
  font-weight: bold;
  font-size: .9em;
}

.notificationsPage .tabs > *{
  color: gray;
  width: 65px;
  text-align: center;
  cursor: pointer;

}

.noNotifs {
  margin-top: 100px;
}

.noNotifs p.grey {
  margin-bottom: 270px;
}

/* MESSAGES DMS ------------------------------------------------------- */
.dmPage{
  /* border: 1px solid red; */
  display: flex;
  width: 100% !important;
}

.dmPage main {
  min-height: 707px !important;
  min-width: 367px;
  /* border: 1px solid lime; */
}
.dmPage .menuContainer .mode {
  margin-top: 273px;
}
.dmPage > *{
}
.dmPage header{
  margin: 0 10px;
  /* width: 100% !important; */
}
.dmPage header .top{
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

.dmPage header .top img {
  border: 1px solid white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  /* position: absolute; */
  margin: 10px 0 0 5px;
}

.dmPage .gear {
  font-size: 25px;
  /* gear */
}

.dmPage .bottom{
  display: flex;
  justify-content: center;
  /* border: 1px solid lime; */
  border-bottom: 1px solid rgb(51, 51, 51);
}

.dmPage input {
  width: 95%!important;
  background-color: rgb(34, 34, 36);
  border: none;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  color: lightblue;
  align-self: center;
  /* border: 1px solid lime; */
  margin-top: 10px;
  margin-bottom: 10px;
}

.dmPage main{
  max-height: 705px;
  margin: 0 10px;
}

.dmPage .message{
  /* border: 1px solid skyblue; */
  border-radius: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.315);
  margin: 10px 0;
  display: flex;
  align-items: center;
  min-height: 60px;
  max-height: 70px;
  padding: 5px 10px;
}
.dmPage .message:hover{
  background-color: rgba(51, 51, 51, 0.767);
}

.dmPage .avatar {
  border: 1px solid whitesmoke;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.dmPage .name{
  margin-right: 10px !important;
}

.dmPage .stack .top{
  margin-bottom: 2px;
  margin-top: -10px;
  display: flex;
  /* border: 1px solid lime; */

}
.dmPage .stack .top p{
  /* border: 1px solid yellow; */
  margin-right: 5px;
}
.dmPage .dot{
  /* margin: 0 !important; */
}

.noDms {
  /* border: 1px solid lime; */
  width: 370px;
  text-align: center;
  margin-top: 90px;
}
.noDms p.grey {
  margin-bottom: 285px;
}
.noDms .gif{
  filter: invert(1);
  width: 390px;
  margin-left: -8px;
}

/* MESSAGE ----------------------------------------------------------- */
.message {

}

.message main {
  height: 674px !important;
  /* border: 2px solid yellow; */
}
.message header > *{
  margin: 0 10px;
}
.message header .top {
  /* border: 1px solid pink; */
  justify-content: space-between !important;
  align-items: center;
  margin-top: 10px;
}
.message header .bottom {
  /* border: 1px solid blue; */
  border-bottom: 1px solid rgb(51, 51, 51);
  padding: 5px 0;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  text-align: center;
  /* margin: auto; */
}

.message header img {
  border: 1px solid white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.message .icon {
  font-size: 25px;
  width: 35px;
}

.message .bubble{
  /* border: 1px solid gray; */
  /* background-color: rgba(128, 128, 128, 0.288); */
  margin: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  /* margin-bottom: 20px; */
}
/* my message bubble */
.message #self p{
  border: 1px solid rgb(19, 53, 116);
  background-color: rgb(42, 117, 255);
  width: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
  border-bottom-right-radius: 0px ;
  /* margin: 10px; */
  align-self: flex-end;
}

/* other message bubble */
.message #other p{
  border: 1px solid rgb(51, 51, 51);
  background-color: rgba(128, 128, 128, 0.288);
  width: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
  border-bottom-left-radius: 0px ;
  margin-left: 0;
}

.message input{
  width: 95% !important;
  background-color: rgb(34, 34, 36);
  border: none;
  border-radius: 10px;
  height: 32px;
  text-align: center;
  color: lightblue;
  margin: 10px;
  /* border: none; */
  /* outline: transparent; */
}

@keyframes wiggle {
  0%{
    transform: rotateY(-30deg) rotateX(30deg);
    width: 16px;
  }
  100%{
    transform: rotateY(30deg) rotateX(-30deg);
  }
}

.dotsReply p{
  border: 1px solid red;
  animation: wiggle 2s infinite;
}
.ref{
  /* border: 3px solid lime; */
}

/* TWEETS ------------------------------------------------------------- */
.tweetPage header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid lime; */
  border-bottom: 1px solid rgb(51, 51, 51);;
  margin-bottom: 8px;
}

.tweetPage header > * {
  /* border: 1px solid lightblue; */
  margin: 0 10px;
}

.tweetPage main{
  max-height: 679px;
}
.addPadding{
  padding-bottom: 20px;
}
.tweet {
  /* border: 1px solid red; */
}
.tweet > * {
  margin: 0 10px;
}

.tweet .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tweet .top .left{
  /* border: 1px solid orange; */
  display: flex;
}

.tweet .avatar {
  border: 1px solid white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 5px;
}

.tweet .body {
  /* border: 1px solid yellow; */
  margin: 10px;
  font-size: .85em;
}

.tweet .dates {
  /* border: 1px solid lime; */
  border-bottom: 1px solid rgb(51, 51, 51);
  display: flex;
  padding-bottom: 5px;
}

.tweet .dates > * {
  margin-right: 5px;
}

.tweet .stats {
  /* border: 1px solid indigo; */
  border-bottom: 1px solid rgb(51, 51, 51);
  padding: 8px 0;
  display: flex;
}
.tweet .stats > * {
  margin-right: 5px;
  font-size: .8em;
}

.tweet .reactions {
  /* border: 1px solid orange; */
  border-bottom: 1px solid rgb(51, 51, 51);
  /* padding: 5px 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.tweet .reactions p {
  padding: 5px;
  border-radius: 5px;
}
.tweet .reactions p:hover {
  background-color: rgba(51, 51, 51, 0.445);;
}

.tweetPage .comment {
  /* border: 1px solid lime !important; */
  border-bottom: 1px solid rgb(51, 51, 51);;
  display: flex;
  margin: 5px 0
}
.dots{
  cursor: pointer;
}
.tweetPage .comment:hover {
  background-color: rgba(51, 51, 51, 0.486);
  border-radius: 10px;
  cursor: pointer;
}

.tweetPage .comment .right {
  /* border: 1px solid blue; */
  max-width: inherit;
  margin-left: 3px;
}
.tweetPage .comment .top {
  /* border: 1px solid skyblue; */
  display: flex;
  justify-content: space-between;
}

.tweetPage .comment .top > div{
  /* border: 1px solid pink; */
  display: flex;
  align-items: center !important;
  font-size: .8em;
}
.tweetPage .comment .top > div > *{
  margin-right: 5px;
}

.tweetPage .comment .body {
  margin: 2px 0!important;
  padding: 0 !important;
  /* border: 4px solid red; */
  max-width: 315px;

}
.tweet .comment .body p {
  width: 315px !important;
  height: fit-content;
}

.tweetPage .comment .reactions{
  font-size: .9em;
}
.tweetPage .inputContainer{
  /* border: 1px solid yellow; */
  margin: 10px;
}
.tweetPage .inputContainer p {
  /* border: 1px solid red; */
  margin: 5px 0;

}
.tweetPage input {
  width: 100% !important;
  background-color: rgb(34, 34, 36);
  border: none;
  border-radius: 10px;
  height: 30px;
  /* text-align: center; */
  /* padding-left: 10px; */
  color: lightblue;
}
.tweetPage input::placeholder{
  padding-left: 10px;
}
/* 
.tweetPage input[::-ms-value]{
  color: red !important;
} */

/*  OTHER PROFILE  ----------------------------------------------------*/
.otherProfilePage{
  /* border: 1px solid red; */
  height: 795px !important;
  overflow-y: scroll;
}

.otherProfilePage header {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  height: 100px;
  /* background-image: url('https://pfps.gg/assets/banners/7644-cloud-banner.gif'); */
  /* background-size: 100% 100%; */
  /* background-image: url('https://wallpapers.com/images/hd/meet-the-robinsons-animated-building-cfeeb6j98ykrqs8u.jpg'); */
  background-size: 100% 120%;
}
.otherProfilePage header div {
  margin: 10px 10px;
}
.otherProfilePage .back{
  filter: invert(1);
}
.otherProfilePage header .right {
  /* border: 1px solid purple; */
  display: flex;
}

.otherProfileInfo {
  /* border: 1px solid white; */
  /* height: 200px; */
}

.otherProfileInfo > * {
  margin: 0 10px;
}

.otherProfileInfo .top {
  /* border: 1px solid pink; */
  /* height: 150px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
}

.otherProfileInfo .top .avatar {
  border: 3px solid black;
  background-image: url('https://m.media-amazon.com/images/M/MV5BMjI4NjMzNzkzNl5BMl5BanBnXkFtZTcwMDM2MDIyNw@@._V1_.jpg');
  background-size: 100% 100%;
  background-size: 100% 100%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  /* z-index: 2; */
  /* margin-top: -10px; */
}
.otherProfileInfo .top .right{
  /* border: 1px solid lime; */
  display: flex;
  align-items: center;
}
.otherProfileInfo .top .right div{

}
.otherProfileInfo .top .right div{
  border: 1px solid rgb(51, 51, 51);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  margin-right: 3px;
}
.otherProfileInfo .top .right div:hover{
  background-color: rgba(51, 51, 51, 0.637);
}
.otherProfileInfo .bell{
  margin-bottom: 3px;
}
.otherProfileInfo .message{
  margin-bottom: 5px;
}

.otherProfileInfo .top .followButton{
  background-color: transparent;
  background-color: whitesmoke;
  border: 1px solid gray;
  height: 30px;
  width: 100px;
  border-radius: 20px;
  color: black;
}
.otherProfileInfo .top .followingButton{
  background-color: transparent;
  background-color: black;
  border: 1px solid gray;
  height: 30px;
  width: 100px;
  border-radius: 20px;
  color: white;
}
.otherProfileInfo .name{
  font-size: 1.2em;
  margin-bottom: -3px;
}

.otherProfileInfo .bio{
  /* border: 1px solid skyblue; */
  margin: 10px 10px;
  font-size: .8em;
}

.otherProfileInfo .bottom .location{
  /* border: 1px solid orange; */
  font-size: .8em;
  margin-left: -3px;
}

.otherProfileInfo .joined{
  /* font-size: .8em; */
  margin-left: 10px;
}

.otherProfileInfo .bottom .follow{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  width: 160px;
  font-size: .7em;
  margin-top: 10px;
}

.otherProfileInfo .tabs {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  border-bottom: thin solid grey;
}

.otherProfileInfo .tabs p{
  /* border: 1px solid lime; */
  padding: 0 10px 7px 10px;
  color: grey;
  font-weight: bold;
  font-size: .8em;
  cursor: pointer;
}

.otherProfilePage .feedContainer{
  /* margin-top: 36px !important; */
}

.otherProfilePage footer{
  /* margin-top: -900px !important; */
}

.otherProfilePage .noTweets{
  /* border: 1px solid lime; */
  margin: 90px 0;
}
.noTweets .username, .noComments .username{
  color: brown;
}
.noTweets .gif, .noNotifs .gif, .noComments .gif{
  filter: invert(1);
  /* height: 100px; */
  width: 100%;
}

.noTweets p, .noNotifs p, .noComments p{
  margin: 0 20px;
  text-align: center;
}

.noComments{
  margin-top: 100px;
}


/* PROFILE PICTURE ------------------------------------------------ */
.profilePicturePage{
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profilePicturePage .exit {
  /* border: 1px solid red; */
  position: absolute;
  top: 10px;
  left: 10px;
}

.profilePicturePage img {
  border: 2px solid rgb(51, 51, 51);
  border-radius: 50%;
  margin-top: -50px;
}

/* CREATETWEET ------------------------------------------------------- */
.createTweet{
  /* border: 1px solid blue; */
  position: relative;
}
.createTweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.createTweet header > * {
  margin: 0 10px;
}

.createTweet header .right{
  display: flex;
  align-items: center;
}

.createTweet button{
  background-color: rgb(49, 118, 221);
  border: none;
  border-radius: 10px;
  padding: 5px 13px;
  margin-left: 15px;
}

.createTweet textArea {
  width: 305px;
  height: inherit;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  /* height: 30px; */
  text-align: left;
  padding: 10px;
  color: whitesmoke;
  font-size: 15px;
  outline: none;
}
.createTweet textArea::placeholder{
  /* color: red; */
  position: absolute;
  top: 10px;
  left: 5px;
}
.createTweet .textBox {
  /* border: 1px solid lime; */
  display: flex;
  margin: 0 10px;
  height: 730px !important;
}
.createTweet .textBox .right {
  /* border: 1px solid orange; */
  width: 100%;
  height: 700px;
}

.createTweet .avatar{
  border: 1px solid white;
  border-radius: 50%;
  height: 35px;
  /* margin-right: 5px; */
}

.createTweet .public {
  border: 1px solid rgb(59, 193, 255);
  color: rgb(59, 193, 255);
  width: fit-content;
  border-radius: 10px;
  padding: 1px 10px;
  margin-left: 7px;
}